---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import blogPreview from "../../assets/blog-preview-card-main/assets/images/illustration-article.svg";
import {
    Card,
    CardTitle,
    CardHeader,
    CardContent,
} from "../components/ui/card";
// Supports weights 300-900
import "@fontsource-variable/figtree";

const tags = ["Learning"];
---

<Layout title="Frontend Mentor | Blog Preview Card">
    <main
        class="flex h-[100vh] w-full items-center justify-center bg-[#F5D04E] font-figtree"
    >
        <Card
            className="rounded-2xl border border-black shadow-[0.2rem_0.3rem_0_0_#000]"
        >
            <CardHeader className="max-w-64 gap-3">
                <Image
                    src={blogPreview}
                    alt="Preview Image"
                    class="rounded-xl"
                />

                <div class="text-sm font-bold">
                    {
                        tags.map((tag) => (
                            <span class="rounded bg-[#F5D04E] px-2 py-1 shadow-[1px_1px_1px_0_rgba(0,0,0,.2)]">
                                {tag}
                            </span>
                        ))
                    }
                </div>

                <div class="font-figtree text-xs font-[600]">
                    Published 21 Dec 2023
                </div>

                <CardTitle className="font-figtree text-lg font-[800]"
                    >HTML &amp; CSS Foundations</CardTitle
                >
            </CardHeader>
        </Card>
    </main>
</Layout>
